h2{
    color: rgb(184, 49, 49);
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-size: 25px;
     color: rgb(189, 43, 226); font-family: cursive;
}
p{
    color: #440606;
}
.Class1{
    color: #1d1b1b;
    background-color: aliceblue;
}
#id123{
    color: red;
    background-color: bisque;
}

.img1{

    height: 300px;
     width: 250px;
     border: 3px solid rgb(22, 23, 24);
     margin: 15px;
}
.img2{
    height: 200px;
    width: 200px;
    border: 3px dashed rgb(43, 182, 60);
    padding: 5px;
}

li{
    color: rgb(141, 83, 13);
}
body{
    background-color: rgb(230, 225, 219); 
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D1BAQGmyFIY3ZNplw/company-background_10000/0/1596152714244?e=2159024400&v=beta&t=dKaVV5hMBg2aH9s30b93_U4qEY2Yofxz0dj2s5mDJZQ);
    background-repeat: no-repeat;

}
iframe{
width: 700px;
height: 350px;
border: 5px solid red;

}

table{
    border: 2px solid  #967d7d;
    background-color: bisque;
}

th{
    border: 2px solid  #9b8a8a;
}
td{
    border: 2px solid rgb(58, 54, 54);
}

#phoneId{
color: red;
background-color: aquamarine;
}


